{% extends 'home.html' %}
{% block content %}
{% load static %}
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top-text header-text">
          <h6>Login Now:</h6>
          <h2>Now Login Your Account For Add Your Listing</h2>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="contact-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

              <div class="col-lg-6 align-self-center">
                <form id="contact" action="" method="POST">
                  <div class="row">
                    {% csrf_token %}
                    {{ form.as_p }}
                      <button type="submit">Login Now</button>
                  </div>
                </form>
              </div>

        </div>
      </div>
    </div>
  </div>


{% endblock content %}

